In [1]:
import numpy as np
import pandas as pd

## Exploring the Dataset

In [2]:
df = pd.read_csv('train.csv')
df.head(20)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000
10,11,20,RL,70.0,11200,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,129500
11,12,60,RL,85.0,11924,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2006,New,Partial,345000
12,13,20,RL,NaN,12968,Pave,NaN,IR2,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,144000
13,14,20,RL,91.0,10652,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,New,Partial,279500
14,15,20,RL,NaN,10920,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,GdWo,NaN,0,5,2008,WD,Normal,157000
15,16,45,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,NaN,0,7,2007,WD,Normal,132000
16,17,20,RL,NaN,11241,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,700,3,2010,WD,Normal,149000
17,18,90,RL,72.0,10791,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,Shed,500,10,2006,WD,Normal,90000
18,19,20,RL,66.0,13695,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,159000
19,20,20,RL,70.0,7560,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,5,2009,COD,Abnorml,139000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
Id               1460 non-null int64
MSSubClass       1460 non-null int64
MSZoning         1460 non-null object
LotFrontage      1201 non-null float64
LotArea          1460 non-null int64
Street           1460 non-null object
Alley            91 non-null object
LotShape         1460 non-null object
LandContour      1460 non-null object
Utilities        1460 non-null object
LotConfig        1460 non-null object
LandSlope        1460 non-null object
Neighborhood     1460 non-null object
Condition1       1460 non-null object
Condition2       1460 non-null object
BldgType         1460 non-null object
HouseStyle       1460 non-null object
OverallQual      1460 non-null int64
OverallCond      1460 non-null int64
YearBuilt        1460 non-null int64
YearRemodAdd     1460 non-null int64
RoofStyle        1460 non-null object
RoofMatl         1460 non-null object
Exterior1st      1460 non-null object
Exterior2nd      1460 non-null object
MasVnrType       1452 non-null object
MasVnrArea       1452 non-null float64
ExterQual        1460 non-null object
ExterCond        1460 non-null object
Foundation       1460 non-null object
BsmtQual         1423 non-null object
BsmtCond         1423 non-null object
BsmtExposure     1422 non-null object
BsmtFinType1     1423 non-null object
BsmtFinSF1       1460 non-null int64
BsmtFinType2     1422 non-null object
BsmtFinSF2       1460 non-null int64
BsmtUnfSF        1460 non-null int64
TotalBsmtSF      1460 non-null int64
Heating          1460 non-null object
HeatingQC        1460 non-null object
CentralAir       1460 non-null object
Electrical       1459 non-null object
1stFlrSF         1460 non-null int64
2ndFlrSF         1460 non-null int64
LowQualFinSF     1460 non-null int64
GrLivArea        1460 non-null int64
BsmtFullBath     1460 non-null int64
BsmtHalfBath     1460 non-null int64
FullBath         1460 non-null int64
HalfBath         1460 non-null int64
BedroomAbvGr     1460 non-null int64
KitchenAbvGr     1460 non-null int64
KitchenQual      1460 non-null object
TotRmsAbvGrd     1460 non-null int64
Functional       1460 non-null object
Fireplaces       1460 non-null int64
FireplaceQu      770 non-null object
GarageType       1379 non-null object
GarageYrBlt      1379 non-null float64
GarageFinish     1379 non-null object
GarageCars       1460 non-null int64
GarageArea       1460 non-null int64
GarageQual       1379 non-null object
GarageCond       1379 non-null object
PavedDrive       1460 non-null object
WoodDeckSF       1460 non-null int64
OpenPorchSF      1460 non-null int64
EnclosedPorch    1460 non-null int64
3SsnPorch        1460 non-null int64
ScreenPorch      1460 non-null int64
PoolArea         1460 non-null int64
PoolQC           7 non-null object
Fence            281 non-null object
MiscFeature      54 non-null object
MiscVal          1460 non-null int64
MoSold           1460 non-null int64
YrSold           1460 non-null int64
SaleType         1460 non-null object
SaleCondition    1460 non-null object
SalePrice        1460 non-null int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [4]:
### Displaying the range of values of each string column
for col,ttype in zip(df.columns, df.dtypes):
    if ttype=="object":
        print(f'{col}:\t{set(df[col].values)}')

MSZoning:	{'RL', 'RM', 'C (all)', 'RH', 'FV'}
Street:	{'Pave', 'Grvl'}
Alley:	{nan, 'Pave', 'Grvl'}
LotShape:	{'IR1', 'IR2', 'IR3', 'Reg'}
LandContour:	{'HLS', 'Low', 'Bnk', 'Lvl'}
Utilities:	{'NoSeWa', 'AllPub'}
LotConfig:	{'Inside', 'Corner', 'FR2', 'FR3', 'CulDSac'}
LandSlope:	{'Mod', 'Gtl', 'Sev'}
Neighborhood:	{'SWISU', 'BrkSide', 'NWAmes', 'Somerst', 'Sawyer', 'StoneBr', 'MeadowV', 'OldTown', 'NAmes', 'IDOTRR', 'ClearCr', 'NridgHt', 'Mitchel', 'Blueste', 'SawyerW', 'Veenker', 'CollgCr', 'NPkVill', 'BrDale', 'NoRidge', 'Crawfor', 'Gilbert', 'Blmngtn', 'Timber', 'Edwards'}
Condition1:	{'RRAe', 'PosA', 'RRNe', 'Feedr', 'PosN', 'RRNn', 'RRAn', 'Norm', 'Artery'}
Condition2:	{'PosA', 'RRAe', 'Feedr', 'RRNn', 'PosN', 'RRAn', 'Norm', 'Artery'}
BldgType:	{'Duplex', 'TwnhsE', '1Fam', '2fmCon', 'Twnhs'}
HouseStyle:	{'1.5Fin', 'SFoyer', '1.5Unf', '2.5Unf', '2.5Fin', '2Story', '1Story', 'SLvl'}
RoofStyle:	{'Gable', 'Flat', 'Gambrel', 'Shed', 'Hip', 'Mansard'}
RoofMatl:	{'Metal', 'Membran', 'WdShake', 'ClyTile', 'Roll', 'CompShg', 'Tar&Grv', 'WdShngl'}
Exterior1st:	{'AsbShng', 'AsphShn', 'Stucco', 'MetalSd', 'Stone', 'CBlock', 'Plywood', 'BrkFace', 'VinylSd', 'HdBoard', 'BrkComm', 'Wd Sdng', 'WdShing', 'CemntBd', 'ImStucc'}
Exterior2nd:	{'AsbShng', 'AsphShn', 'Stucco', 'MetalSd', 'Stone', 'CBlock', 'Plywood', 'Other', 'BrkFace', 'Brk Cmn', 'VinylSd', 'HdBoard', 'Wd Sdng', 'ImStucc', 'CmentBd', 'Wd Shng'}
MasVnrType:	{nan, 'Stone', 'BrkFace', 'None', 'BrkCmn'}
ExterQual:	{'Fa', 'Ex', 'TA', 'Gd'}
ExterCond:	{'Fa', 'TA', 'Ex', 'Gd', 'Po'}
Foundation:	{'Slab', 'CBlock', 'Stone', 'BrkTil', 'Wood', 'PConc'}
BsmtQual:	{nan, 'Ex', 'TA', 'Fa', 'Gd'}
BsmtCond:	{nan, 'Fa', 'TA', 'Gd', 'Po'}
BsmtExposure:	{nan, 'Mn', 'Av', 'Gd', 'No'}
BsmtFinType1:	{nan, 'LwQ', 'Unf', 'Rec', 'BLQ', 'GLQ', 'ALQ'}
BsmtFinType2:	{nan, 'LwQ', 'Unf', 'Rec', 'BLQ', 'GLQ', 'ALQ'}
Heating:	{'Floor', 'Wall', 'OthW', 'GasW', 'GasA', 'Grav'}
HeatingQC:	{'Fa', 'Ex', 'TA', 'Gd', 'Po'}
CentralAir:	{'N', 'Y'}
Electrical:	{nan, 'Mix', 'FuseP', 'SBrkr', 'FuseA', 'FuseF'}
KitchenQual:	{'Fa', 'Ex', 'TA', 'Gd'}
Functional:	{'Maj2', 'Sev', 'Typ', 'Mod', 'Min2', 'Min1', 'Maj1'}
FireplaceQu:	{nan, 'Fa', 'TA', 'Ex', 'Gd', 'Po'}
GarageType:	{nan, 'Attchd', 'CarPort', 'BuiltIn', 'Basment', 'Detchd', '2Types'}
GarageFinish:	{nan, 'Fin', 'RFn', 'Unf'}
GarageQual:	{nan, 'Fa', 'TA', 'Ex', 'Gd', 'Po'}
GarageCond:	{nan, 'Fa', 'TA', 'Ex', 'Gd', 'Po'}
PavedDrive:	{'P', 'N', 'Y'}
PoolQC:	{nan, 'Ex', 'Fa', 'Gd'}
Fence:	{nan, 'MnPrv', 'MnWw', 'GdWo', 'GdPrv'}
MiscFeature:	{nan, 'Gar2', 'Shed', 'Othr', 'TenC'}
SaleType:	{'Oth', 'ConLD', 'ConLI', 'ConLw', 'New', 'COD', 'Con', 'CWD', 'WD'}
SaleCondition:	{'Partial', 'Family', 'Abnorml', 'Alloca', 'AdjLand', 'Normal'}

###  Comparing the effect of null values on the dataframe

In [5]:
print(df.shape)
print(df.isna().sum())

(1460, 81)
Id                  0
MSSubClass          0
MSZoning            0
LotFrontage       259
LotArea             0
Street              0
Alley            1369
LotShape            0
LandContour         0
Utilities           0
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
OverallQual         0
OverallCond         0
YearBuilt           0
YearRemodAdd        0
RoofStyle           0
RoofMatl            0
Exterior1st         0
Exterior2nd         0
MasVnrType          8
MasVnrArea          8
ExterQual           0
ExterCond           0
Foundation          0
                 ...
BedroomAbvGr        0
KitchenAbvGr        0
KitchenQual         0
TotRmsAbvGrd        0
Functional          0
Fireplaces          0
FireplaceQu       690
GarageType         81
GarageYrBlt        81
GarageFinish       81
GarageCars          0
GarageArea          0
GarageQual         81
GarageCond         81
PavedDrive          0
WoodDeckSF          0
OpenPorchSF         0
EnclosedPorch       0
3SsnPorch           0
ScreenPorch         0
PoolArea            0
PoolQC           1453
Fence            1179
MiscFeature      1406
MiscVal             0
MoSold              0
YrSold              0
SaleType            0
SaleCondition       0
SalePrice           0
Length: 81, dtype: int64

I will remove all columns that have more than 100 null values and will replace all the null  values that have string values with the mode of the column, and the nulls in the integer columns will be replaced by the mean of the values

In [6]:
for col, count, dtype in zip(df.columns,df.isna().sum().values, df.dtypes):
    if count>=1 and count<100:
        if dtype =='object':
            df[col] = df[col].astype('|S') # change datatype to string
            df[col].fillna(df[col].mode(), inplace=True)
        else:
            df[col].fillna(df[col].mean(), inplace=True)
    elif count>=100:
        df.drop(columns = [col], inplace=True)

In [7]:
# sanity check
df.isna().sum().sum()

0

### Onehot encoding

In [8]:
# one hot encoding the data
for col, dtype in zip(df.columns,df.dtypes):
    if dtype=='object':
        one_hot = pd.get_dummies(df[col])
        # dropping the col
        df.drop(col,axis=1,inplace=True)
        # joining the new value
        df = df.join(one_hot,how='left',lsuffix='_left')

In [9]:
# sanity check
df.head()

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,ConLw,New,Oth,WD,Abnorml,AdjLand,Alloca,Family,Normal,Partial
0,1,60,8450,7,5,2003,2003,196.0,706,0,...,0,0,0,1,0,0,0,0,1,0
1,2,20,9600,6,8,1976,1976,0.0,978,0,...,0,0,0,1,0,0,0,0,1,0
2,3,60,11250,7,5,2001,2002,162.0,486,0,...,0,0,0,1,0,0,0,0,1,0
3,4,70,9550,7,5,1915,1970,0.0,216,0,...,0,0,0,1,1,0,0,0,0,0
4,5,60,14260,8,5,2000,2000,350.0,655,0,...,0,0,0,1,0,0,0,0,1,0

# Preprocessing

In [10]:
# get the index of Y
out_index = df.columns.tolist().index('SalePrice')
y = df.iloc[:,out_index].values.reshape(-1,1)
df.drop(columns=['SalePrice'], inplace=True)
X = df.iloc[:,:].values
print(X.shape)
print(y.shape)

(1460, 281)
(1460, 1)

In [11]:
# adding the extra column for ones (bias)
X = np.hstack((np.ones(y.shape),X))
# sanity check
X.shape

(1460, 282)

In [30]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25)

In [31]:
print("Train X shape:", X_train.shape)
print("Train y shape:", y_train.shape)
print("Test X shape:", X_test.shape)
print("Test y shape:", y_test.shape)

Train X shape: (1095, 282)
Train y shape: (1095, 1)
Test X shape: (365, 282)
Test y shape: (365, 1)

# Linear Regression

## My Model

In [32]:
class LinearRegression:
    def __init__(self):
        self.theta = None
    
    def train(self, X, y):
        self.theta = np.linalg.pinv(X)@y
        return self.theta
    
    def predict(self, X):
        return X@self.theta

In [33]:
reg = LinearRegression()
reg.train(X_train,y_train)
y_pred = reg.predict(X_test)

## Scikit learn

In [34]:
from sklearn.linear_model import LinearRegression
sklearn_reg = LinearRegression()
sklearn_reg.fit(X_train,y_train)
y_pred2 = sklearn_reg.predict(X_test)

In [35]:
from sklearn.metrics import mean_absolute_error
print("My model ASE")
print(mean_absolute_error(y_test,y_pred))
print("Sklearn model ASE")
print(mean_absolute_error(y_test,y_pred2))

My model ASE
18173.469952164054
Sklearn model ASE
18182.44552081499